<div>
  <main class="footer">
    <div class="sessions">
      <section class="redes-sociais">
        <a
          href="https://www.linkedin.com/in/bruno-staine-81b8a9185/"
          target="_blank"
        >
          <i class="pi pi-linkedin" style="font-size: 1rem"></i>
        </a>

        <a href="https://www.instagram.com/bruno.stainee/" target="_blank">
          <i class="pi pi-instagram" style="font-size: 1rem"></i>
        </a>
        <a href="https://github.com/Brunostaine" target="_blank">
          <i class="pi pi-github" style="font-size: 1rem"></i>
        </a>
      </section>
      <span>Me encontre nas redes sociais!</span>
    </div>
  </main>
  <section class="copyright">
    <a class="whatsapp" href="https://api.whatsapp.com/send?phone=61999687967" target="_blank" title="Chame no whatsapp">
      <i class="pi pi-whatsapp"></i>
    </a>
    <span>© Bruno Staine 2023</span>
  </section>
</div>
